body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1441px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7781 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7782_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:2600px;
  background:inherit;
  background-color:rgba(0, 21, 41, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7782 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:2600px;
  display:flex;
}
#u7782 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7782_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7783_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:65px;
  background:inherit;
  background-color:rgba(0, 40, 77, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7783 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:65px;
  display:flex;
}
#u7783 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7783_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7784 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7785_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u7785 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:65px;
  width:256px;
  height:61px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u7785 .text {
  position:absolute;
  align-self:center;
  padding:24px 2px 15px 50px;
  box-sizing:border-box;
  width:100%;
}
#u7785_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u7786 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:93px;
  width:14px;
  height:13px;
  display:flex;
  color:#FFFFFF;
}
#u7786 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7786_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u7787 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:93px;
  width:14px;
  height:15px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'Anticon Normal', 'Anticon';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u7787 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7787_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7788_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u7788 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:166px;
  width:256px;
  height:40px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u7788 .text {
  position:absolute;
  align-self:center;
  padding:9px 2px 9px 50px;
  box-sizing:border-box;
  width:100%;
}
#u7788_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7789_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u7789 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:206px;
  width:256px;
  height:40px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u7789 .text {
  position:absolute;
  align-self:center;
  padding:9px 2px 9px 50px;
  box-sizing:border-box;
  width:100%;
}
#u7789_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7790_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
  background:inherit;
  background-color:rgba(24, 144, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u7790 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:126px;
  width:256px;
  height:40px;
  display:flex;
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u7790 .text {
  position:absolute;
  align-self:center;
  padding:9px 2px 9px 50px;
  box-sizing:border-box;
  width:100%;
}
#u7790_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7791_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u7791 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:14px;
  width:194px;
  height:37px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u7791 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7791_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7792 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7793_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1185px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7793 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:0px;
  width:1185px;
  height:64px;
  display:flex;
}
#u7793 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7793_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7794_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
}
#u7794 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:25px;
  width:20px;
  height:15px;
  display:flex;
}
#u7794 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7794_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7795 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:24px;
}
#u7796 {
  border-width:0px;
  position:absolute;
  left:1318px;
  top:21px;
  width:28px;
  height:24px;
  display:flex;
}
#u7796 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7796_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7797_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u7797 {
  border-width:0px;
  position:absolute;
  left:1355px;
  top:22px;
  width:73px;
  height:22px;
  display:flex;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u7797 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7797_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7798_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:21px;
}
#u7798 {
  border-width:0px;
  position:absolute;
  left:1278px;
  top:22px;
  width:16px;
  height:21px;
  display:flex;
}
#u7798 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7798_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u7799 {
  border-width:0px;
  position:absolute;
  left:1236px;
  top:23px;
  width:19px;
  height:19px;
  display:flex;
}
#u7799 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7799_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7800_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u7800 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:406px;
  width:256px;
  height:40px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u7800 .text {
  position:absolute;
  align-self:center;
  padding:9px 2px 9px 50px;
  box-sizing:border-box;
  width:100%;
}
#u7800_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7801_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u7801 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:366px;
  width:256px;
  height:40px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u7801 .text {
  position:absolute;
  align-self:center;
  padding:9px 2px 9px 50px;
  box-sizing:border-box;
  width:100%;
}
#u7801_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7802_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u7802 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:326px;
  width:256px;
  height:40px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u7802 .text {
  position:absolute;
  align-self:center;
  padding:9px 2px 9px 50px;
  box-sizing:border-box;
  width:100%;
}
#u7802_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7803_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u7803 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:246px;
  width:256px;
  height:40px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u7803 .text {
  position:absolute;
  align-self:center;
  padding:9px 2px 9px 50px;
  box-sizing:border-box;
  width:100%;
}
#u7803_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7804_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u7804 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:446px;
  width:256px;
  height:40px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u7804 .text {
  position:absolute;
  align-self:center;
  padding:9px 2px 9px 50px;
  box-sizing:border-box;
  width:100%;
}
#u7804_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7805_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u7805 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:486px;
  width:256px;
  height:40px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u7805 .text {
  position:absolute;
  align-self:center;
  padding:9px 2px 9px 50px;
  box-sizing:border-box;
  width:100%;
}
#u7805_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7806_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u7806 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:526px;
  width:256px;
  height:40px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u7806 .text {
  position:absolute;
  align-self:center;
  padding:9px 2px 9px 50px;
  box-sizing:border-box;
  width:100%;
}
#u7806_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7807_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1185px;
  height:643px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u7807 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:64px;
  width:1185px;
  height:643px;
  display:flex;
  color:#D9001B;
}
#u7807 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7807_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7808 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7809_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u7809 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:606px;
  width:256px;
  height:61px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u7809 .text {
  position:absolute;
  align-self:center;
  padding:24px 2px 15px 50px;
  box-sizing:border-box;
  width:100%;
}
#u7809_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u7810 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:634px;
  width:14px;
  height:13px;
  display:flex;
  color:#FFFFFF;
}
#u7810 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7810_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u7811 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:634px;
  width:14px;
  height:15px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'Anticon Normal', 'Anticon';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u7811 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7811_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7812_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
  background:inherit;
  background-color:rgba(24, 144, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u7812 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:286px;
  width:256px;
  height:40px;
  display:flex;
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u7812 .text {
  position:absolute;
  align-self:center;
  padding:9px 2px 9px 50px;
  box-sizing:border-box;
  width:100%;
}
#u7812_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7813_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
  background:inherit;
  background-color:rgba(24, 144, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u7813 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:566px;
  width:256px;
  height:40px;
  display:flex;
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u7813 .text {
  position:absolute;
  align-self:center;
  padding:9px 2px 9px 50px;
  box-sizing:border-box;
  width:100%;
}
#u7813_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7814_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u7814 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:667px;
  width:256px;
  height:40px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u7814 .text {
  position:absolute;
  align-self:center;
  padding:9px 2px 9px 50px;
  box-sizing:border-box;
  width:100%;
}
#u7814_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7815_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u7815 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:707px;
  width:256px;
  height:40px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u7815 .text {
  position:absolute;
  align-self:center;
  padding:9px 2px 9px 50px;
  box-sizing:border-box;
  width:100%;
}
#u7815_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7816_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1093px;
  height:34px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7816 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:206px;
  width:1093px;
  height:34px;
  display:flex;
}
#u7816 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7816_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u7817 {
  border-width:0px;
  position:absolute;
  left:1421px;
  top:68px;
  width:18px;
  height:18px;
  display:flex;
}
#u7817 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7817_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7818_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1185px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7818 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:64px;
  width:1185px;
  height:53px;
  display:flex;
}
#u7818 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7818_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7819_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u7819 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:81px;
  width:95px;
  height:19px;
  display:flex;
  color:#000000;
}
#u7819 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7819_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7820_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1151px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7820 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:135px;
  width:1151px;
  height:51px;
  display:flex;
}
#u7820 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7820_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7821_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#02A7F0;
}
#u7821 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:161px;
  width:43px;
  height:19px;
  display:flex;
  color:#02A7F0;
}
#u7821 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7821_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7822_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u7822 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:161px;
  width:43px;
  height:19px;
  display:flex;
  color:#000000;
}
#u7822 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7822_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u7822.mouseOver {
}
#u7822_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7823_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u7823 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:161px;
  width:43px;
  height:19px;
  display:flex;
  color:#000000;
}
#u7823 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7823_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u7823.mouseOver {
}
#u7823_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7824_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1151px;
  height:225px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7824 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:201px;
  width:1151px;
  height:225px;
  display:flex;
}
#u7824 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7824_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7825 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:234px;
  width:1074px;
  height:92px;
}
#u7826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:32px;
}
#u7826 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:32px;
  display:flex;
}
#u7826 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7826_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:32px;
}
#u7827 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:0px;
  width:215px;
  height:32px;
  display:flex;
}
#u7827 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7827_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:32px;
}
#u7828 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:0px;
  width:215px;
  height:32px;
  display:flex;
}
#u7828 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7828_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:32px;
}
#u7829 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:0px;
  width:215px;
  height:32px;
  display:flex;
}
#u7829 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7829_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:32px;
}
#u7830 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:0px;
  width:214px;
  height:32px;
  display:flex;
}
#u7830 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7830_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:30px;
}
#u7831 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:32px;
  width:215px;
  height:30px;
  display:flex;
  color:#000000;
}
#u7831 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7831_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:30px;
}
#u7832 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:32px;
  width:215px;
  height:30px;
  display:flex;
  color:#000000;
}
#u7832 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7832_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:30px;
}
#u7833 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:32px;
  width:215px;
  height:30px;
  display:flex;
}
#u7833 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7833_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:30px;
}
#u7834 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:32px;
  width:215px;
  height:30px;
  display:flex;
}
#u7834 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7834_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:30px;
}
#u7835 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:32px;
  width:214px;
  height:30px;
  display:flex;
  color:#000000;
}
#u7835 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7835_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:30px;
}
#u7836 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:62px;
  width:215px;
  height:30px;
  display:flex;
}
#u7836 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7836_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:30px;
}
#u7837 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:62px;
  width:215px;
  height:30px;
  display:flex;
}
#u7837 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7837_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:30px;
}
#u7838 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:62px;
  width:215px;
  height:30px;
  display:flex;
}
#u7838 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7838_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:30px;
}
#u7839 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:62px;
  width:215px;
  height:30px;
  display:flex;
}
#u7839 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7839_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:30px;
}
#u7840 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:62px;
  width:214px;
  height:30px;
  display:flex;
}
#u7840 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7840_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7841_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7841 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:213px;
  width:547px;
  height:40px;
  display:flex;
}
#u7841 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7841_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7842_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u7842 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:222px;
  width:95px;
  height:19px;
  display:flex;
  color:#000000;
}
#u7842 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7842_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u7843 {
  border-width:0px;
  position:absolute;
  left:1017px;
  top:222px;
  width:25px;
  height:25px;
  display:flex;
}
#u7843 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7843_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7844_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:186px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7844 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:253px;
  width:547px;
  height:186px;
  display:flex;
}
#u7844 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7844_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7845_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u7845 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:289px;
  width:69px;
  height:14px;
  display:flex;
  color:#000000;
}
#u7845 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7845_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:35px;
}
#u7846 {
  border-width:0px;
  position:absolute;
  left:653px;
  top:273px;
  width:300px;
  height:35px;
  display:flex;
}
#u7846 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7846_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7847_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7847 {
  border-width:0px;
  position:absolute;
  left:893px;
  top:386px;
  width:60px;
  height:32px;
  display:flex;
}
#u7847 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7847_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7848_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7848 {
  border-width:0px;
  position:absolute;
  left:970px;
  top:386px;
  width:60px;
  height:32px;
  display:flex;
}
#u7848 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7848_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7849_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u7849 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:281px;
  width:71px;
  height:19px;
  display:flex;
  color:#000000;
}
#u7849 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7849_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7850_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u7850 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:339px;
  width:95px;
  height:14px;
  display:flex;
  color:#000000;
}
#u7850 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7850_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:35px;
}
#u7851 {
  border-width:0px;
  position:absolute;
  left:653px;
  top:329px;
  width:300px;
  height:35px;
  display:flex;
}
#u7851 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7851_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7852_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u7852 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:339px;
  width:124px;
  height:19px;
  display:flex;
  color:#000000;
}
#u7852 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7852_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u7853 {
  border-width:0px;
  position:absolute;
  left:1185px;
  top:21px;
  width:25px;
  height:25px;
  display:flex;
  color:#D9001B;
}
#u7853 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7853_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
